@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');


* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'League Gothic', sans-serif;
    font-size: 2rem;
    height:100vh;
    background: #52c234;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #061700, #52c234);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #061700, #52c234); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


h1{
    color: rgb(235, 123, 18);
    font-size: 7rem;
    letter-spacing:0.1rem;
}

p{
    color:beige;
    letter-spacing:0.1rem;
}

form{
    display: flex;
    flex-direction: column;
    width:30rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border:10px solid rgb(12, 27, 1);
    border-radius: 0.6rem;

}

form > input:not(input[type="file"], input[type="submit"]){
    margin:1rem 0;
    height:2rem;
    border-radius:0.3rem;
    width:90%;
    background-color: #6d9b5c;
    height:2.3rem;
    border:3px solid rgb(12, 27, 1);
    padding-left: 0.5rem;
}

input::placeholder{
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 0.5rem;
    color:black;
    opacity: 0.6;
}
input:focus{
    outline: none;
}

.instruction{
    font-size:1.2rem;
    margin-bottom:0.5rem ;
    color:rgb(2, 5, 0);
}

img{
    width:8rem;
    margin:2rem 0;
    animation:spin 4s linear infinite;
}

@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}


input[type="submit"]{
    background-color: rgb(153, 52, 15);
    width:60%;
    margin: 1rem 0 2.5rem 0;
    height:2rem;
    border-radius: 0.2rem;
    border: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 900;
}

input[type="submit"]:focus{
    outline:none;
    transform: translateY(1px);
}

input[type="submit"]:hover{
    background-color: rgb(141, 43, 8);
}

input[type="file"]{
    padding-top: 2rem;
}

